.footer {
  padding: 30px 4%;
  max-width: 1000px;
  margin: 0 auto;
}

.social-media-icons {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.footer .social-media-icons img {
  width: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.footer .social-media-icons img:hover {
  transform: scale(1.1);
}

.footer ul {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  margin-bottom: 30px;
}

.footer ul li {
  color: #e5e5e5;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer ul li:hover {
  color: #FF4141;
}

.footer ul li a {
  text-decoration: none;
  color: inherit;
}

.footer p {
  color: gray;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}